<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdt">
	<select id="already" resultType="Integer"> 
		SELECT COUNT (*) FROM tbl_product
		 WHERE pname = #{pname}
	</select>
	<update id="cntPlus">
		UPDATE tbl_product
  		 SET cnt = cnt + #{cnt}
  		  WHERE pname = #{pname}
	</update>
	<select id="Allcnt" resultType="Integer">
	     SELECT cnt FROM tbl_product
          WHERE pname = #{pname}
	</select>
	<update id="insertPdt">
	INSERT INTO tbl_product(pno, pname, company, price, cnt)
     VALUES(seq_product.NEXTVAL, #{pname}, #{company}, #{price}, #{cnt})
      
	</update>
	<select id="pdtSearch" resultType="problem.market.ProductDTO">
	 SELECT * FROM tbl_product
      WHERE pname LIKE '%'||#{pname}||'%'
	</select>
	<select id="pdtSelect" resultType="problem.market.ProductDTO">
	 SELECT * FROM tbl_product	
	
	</select>
</mapper>